<h3 style="text-align: center">Welcome, {{name}}</h3>
<h5 style="text-align:center">Quotes Collection:</h6>
{{#if quotes}}
<table class="striped">
    <colgroup>
        <col span="1" style="width: 85%;">
        <col span="1" style="width: 15%;">
    </colgroup>
    <thead>
        <tr>
            <th>Title</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each quotes}}
        <tr>
            <td>{{title}}</td>
            <td>
                <a href="/quotes/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>

                <form action="/quotes/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p style="text-align: center;">Add your own quote collection by clicking the + button below!</p>
{{/if}}